.paper {
    max-width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.input {
    width: 80% !important;
    margin: 20px auto !important;
}

.btn {
    width: 60%;
    margin: 20px auto !important;
}
